1. why you choose python ?
- In python we having libraries for example visualization used pandas,numpy and present growing AI and ML mostly used python language.
- web applications like django used python.

### Looping Statements
- In python ,loops are used to repeat a block of code multiple times.
- there are two types
1. For Loop
2. While Loop

#### For Loop
1. For loop when range is defined.
2. Used when iterating over a sequence or when the number of iterations is known.

In [6]:
numbers=[1,2,'a',5,'g',9]
for i in numbers:
    print(i,end=' ')

1 2 a 5 g 9

In [10]:
for i in range(1,10):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [34]:
for i in range(1,11,3):
    print(i,end=' ')

1 4 7 10

In [78]:
# print even numbers
for i in range(1,50):
    if i%2==0:
        print(i,end=' ')
print(", Even Numbers")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 , Even Numbers

In [74]:
word="Hello"
for letter in word:
    print(letter,end='')

Hello

In [89]:
for i in range(1,7,1):
    print("*"*i)

*
**
***
****
*****
******

In [121]:
for i in range(7,1,-1):
    print("*"*i)

*******
******
*****
****
***
**

In [5]:
#upper diamond
n=5 #number of rows for the upper half
for i in range(1,n+1):   #2,3,4,5
    print(("*"*(2*i-1)).center(2*n-1))
#lower diamond
for j in range(n-1,0,-1):   
    print(("*"*(2*j-1)).center(2*n-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [23]:
text= '''The 123rd annual tech conference hosted in Brookefield Bengaluru on April 03 2025 saw a record 450 attendees.
       This year's focus , "AI_Future ," generated intense discussions and 7 new partnerships .'''

In [25]:
for i in text.split():
    if i.isalpha()==True:
        print(i,end=',')

The,annual,tech,conference,hosted,in,Brookefield,Bengaluru,on,April,saw,a,record,This,focus,generated,intense,discussions,and,new,partnerships,

In [21]:
for i in text.split():
    if i.isnumeric()==True:
        print(i,end=',')

03,2025,450,7,

#### While Loop
- While loop repeats a block of code as long as specified condition true, range not defined.

In [18]:
count=10
while count <=50:
    print(count,end=' ')
    count+=3

10 13 16 19 22 25 28 31 34 37 40 43 46 49

In [1]:
count=15
while count<=30:
    print(count,end=' ')
    count +=2

15 17 19 21 23 25 27 29

In [11]:
a=1
while a<5:
    if (a %2==0):
        print(a,"Even number")
    else:
        print(a,"Odd number")
    a+=1

1 Odd number
2 Even number
3 Odd number
4 Even number

In [1]:
x=1
while x<6:
    print((5-x)*" "+x*"*")
    x+=1

    *
   **
  ***
 ****
*****

### Looping Control Statements

 #### types of Control statements
1. break Statement → Terminates the loop immediately.
2. continue → Skips the current iteration and moves to the next.
3. pass → Does nothing (used as a placeholder).

#### break statement

In [8]:
for i in range(1,100):
    if i==10:
        print(i)
        break

10

#### continue statement

In [16]:
for i in range(0,20):
    if i==10:
        continue
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,

In [19]:
for number in range(10):
    if number % 2==0:
        continue
    print(number,end=' ')

1 3 5 7 9

#### pass statement
- you want to store data but no need to execute,delete and feature will needed that time used pass statement.

In [8]:
a=20
b=300
if b>a:
    pass

In [27]:
# else #an else block can added to a loop,which is executed when the loop completes normally,without encountering a break statement.
for num in range(5):
    print(num)
else:
    print("loop finished without break")

0
1
2
3
4
loop finished without break